#game-board {
  background-color: rgb(10, 40, 60);
  height: 85vmin;
  width: 100vmin;
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  grid-template-columns: repeat(24, 1fr);
  border: 0.5vmin solid rgb(5, 20, 30);
}

#screen-text {
  grid-row: 1 / 25;
  grid-column: 1 / 25;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vmin;
}

.snake {
  background-color: rgb(153, 153, 49);
  border: 0.25vmin solid black;
}

.snake-head {
  background-color: rgb(255, 255, 0);
}

.apple {
  background-color: rgb(180, 50, 50);
  border: 0.25vmin solid black;
}
