#interface {
  height: 10vmin;
  width: 100vmin;
  background-color: rgb(9, 24, 51);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.5vmin solid rgb(113, 28, 145);
  border-bottom: 0;
  animation: pinkBoxGlow 2s ease-in-out infinite alternate;
}

/* Audio Section */
#volume-slider-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3vmin;
}

#music-mute-button,
#effects-mute-button {
  display: inline-block;
  width: 3vmin;
  transition: 0.2s;
}

#music-mute-button:hover,
#effects-mute-button:hover {
  cursor: pointer;
  color: rgb(255, 255, 0);
  animation: yellowTextGlow 2s ease-in-out infinite alternate;
}

#volume-text {
  margin-bottom: 2vmin;
  height: 3vmin;
  font-size: 3vmin;
  font-weight: bold;
  color: rgb(234, 0, 217);
  animation: pinkTextGlow 1s ease-in-out infinite alternate;
}

#music-slider,
#effects-slider {
  margin-bottom: 3.5vmin;
  height: 2vmin;
  width: 14vmin;
  -webkit-appearance: none;
  color: rgb(255, 255, 0);
  background-color: rgb(14, 220, 231);
  border-radius: 16px;
  animation: cyanBoxGlow 2s ease-in-out infinite alternate;
  transition: 0.5s;
}

#music-slider:hover,
#effects-slider:hover {
  cursor: pointer;
}

*:focus {
  outline: none;
}

#music-slider::-webkit-slider-thumb,
#effects-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(19, 62, 124);
  cursor: pointer;
  animation: yellowBoxGlow 2s ease-in-out infinite alternate;
  transition: 0.5s;
}

#music-slider::-webkit-slider-thumb:hover,
#effects-slider::-webkit-slider-thumb:hover {
  background: rgb(255, 255, 0);
}

/* Scores Section*/
.score-wrap {
  flex-grow: 1;
  font-size: 5vmin;
  text-align: center;
  flex-direction: column;
}

.score-title {
  height: 3vmin;
  font-size: 3vmin;
  font-weight: bold;
  color: rgb(234, 0, 217);
  animation: pinkTextGlow 1s ease-in-out infinite alternate;
}

#current-score,
#high-score {
  color: rgb(14, 220, 231);
  animation: cyanTextGlow 1s ease-in-out infinite alternate;
}

/* Sign In Section */
#sign-in-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
  font-size: 1.5vmin;
  text-align: center;
}

#sign-in-btn {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 20vmin;
  height: 2.8vmin;
  border-radius: 4px;
  padding: 4px 4px 4px 0px;
  border: 0.25vmin solid rgb(255, 255, 255);
}

#sign-in-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(11, 144, 233);
  border: 0.25vmin solid white;
}

#google-icon {
  background-color: white;
  height: 80%;
  padding: 2% 2.1% 2% 2%;
  border-radius: 4px;
  margin-right: 3%;
}

#under-text {
  color: rgb(19, 62, 124);
  font-size: 1.7vmin;
  margin: 0;
}

.signed-in-text {
  display: flex;
  flex-direction: column;
  font-size: 1.5vmin;
  color: rgb(234, 0, 217);
  animation: pinkTextGlow 1s ease-in-out infinite alternate;
}

.username-text {
  font-size: 2.5vmin;
  color: rgb(14, 220, 231);
  animation: cyanTextGlow 1s ease-in-out infinite alternate;
}

.sign-out-text {
  font-size: 1.5vmin;
  color: rgb(19, 62, 124);
  transition: 0.2s;
}

.sign-out-text:hover {
  cursor: pointer;
  color: rgb(255, 255, 0);
  animation: yellowTextGlow 1s ease-in-out infinite alternate;
}
