#intro {
  grid-area: main;
  height: 0;
  width: 100%;
  color: white;
  background-color: rgb(10,10,10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 16px 16px;
  animation-name: moveUp;
  animation-duration: 1.7s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
}

@keyframes moveUp {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

#intro > span {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
}

#first-line {
  color: rgb(255,255,0);
  font-size: 6vmin;
  text-shadow: 0 0 0.7vmin rgb(255, 255, 0);
}

#second-line {
  color: rgb(14, 220, 231);
  font-size: 3vmin;
  text-shadow: 0 0 0.7vmin rgb(14, 220, 231);
}

#third-line {
  color: rgb(234, 0, 217);
  font-size: 2vmin;
  text-shadow: 0 0 0.7vmin rgb(234, 0, 217);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}