@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: rgb(25, 25, 25);
  font-family: "Poppins", sans-serif;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". main .";
}

/* Intro Animation */
#intro {
  grid-area: main;
  height: 0;
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 16px 16px;
  animation-name: moveUp;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
}

@keyframes moveUp {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

#intro > span {
  color: blue;
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Game-Wrap and Leaderboard */
#main-wrap {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
}

/* Game and Interface */
#game-wrap {
  display: flex;
  flex-direction: column;
}

/* Top Interface */
#interface {
  height: 10vmin;
  width: 100vmin;
  background-color: rgb(170, 170, 50);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.5vmin solid rgb(5, 20, 30);
  border-bottom: 0;
}

.score-wrap {
  flex-grow: 1;
  color: rgb(10, 40, 60);
  font-size: 5vmin;
  text-align: center;
  flex-direction: column;
}

.score-title {
  height: 3vmin;
  font-size: 3vmin;
  font-weight: bold;
}

#sign-in-wrap {
}

/* Leaderboard */
#leaderboard {
  grid-column: 3 / 4;
  width: 25vmin;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
  background-color: black;
  font-size: 3.5vmin;
  align-items: center;
  border: 0.3vmin solid rgb(170, 170, 50);
}

.leaderboard-item {
  align-self: start;
  font-size: 2.4vmin;
}

.leaderboard-divider {
  margin: 0.3vmin;
  width: 99%;
  border-top: 0.1vmin solid #bbb;
  border-radius: 5px;
}

/* Game Board */
#game-board {
  background-color: rgb(10, 40, 60);
  height: 85vmin;
  width: 100vmin;
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  grid-template-columns: repeat(24, 1fr);
  border: 0.5vmin solid rgb(5, 20, 30);
}

#screen-text {
  grid-row: 1 / 25;
  grid-column: 1 / 25;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vmin;
}

.snake {
  background-color: rgb(153, 153, 49);
  border: 0.25vmin solid black;
}

.snake-head {
  background-color: rgb(255, 255, 0);
}

.apple {
  background-color: rgb(180, 50, 50);
  border: 0.25vmin solid black;
}
